/*page header*/
h1 {
 text-align: center;
 margin-top: 1em;
 color: whitesmoke;
 font-size: 60px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: lighter;
}
/* body of page*/
body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../images/home.jpeg");
  background-color: rgb(2,0,36);
/* background:  linear-gradient(90deg, rgb(32, 25, 155) 0%, rgb(27, 27, 138) 42%, rgba(4,112,189,1) 76%, rgba(0,212,255,1) 100%); */
  background-repeat: no-repeat;
  background-size: cover;
  min-width: auto;
  height: auto;
}
/* elements on page*/
form {
  display: flex;
  flex-direction: column;
  border: white rounded 2px;
  border-radius: 25px;
  padding:20px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  background-color: white;
  opacity: 0.8;
  width: 70%;
  height: auto;
}
/*elements in body*/
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:  lighter;
}
/*add entry button*/
#buttonAddEntry {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  width: 30%;
}
/* body of html*/
.body_page {
  display: flex;
  justify-content: center;
}

.entryLog {
  display: flex;
  flex-direction: column;
  border: white rounded 2px;
  border-radius: 25px;
  padding:20px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  background-color: white;
  opacity: 0.8;
  width: 70%;
  height: auto;
}
#deleteButton {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  width: 30%;
}
#editButton {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  width: 30%;
}