@import"./button.css";
@import"./form.css";

:root {
  --button-font-color: rgb(255, 255, 255);
  --button-bg: white;
  --dark-gold: rgb(223, 186, 1);
  --bright-gold: rgb(243, 197, 0);
  --dark-red: rgb(223, 54, 46);
  --bright-red: rgb(255, 65, 55);
  --dark-blue: rgb(0, 104, 194);
  --bright-blue: rgb(0, 116, 218);
}

/*page header*/
h1 {
 text-align: center;
 margin-top: 1em;
 color: whitesmoke;
 font-size: 60px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: lighter;
}
/* body of page*/
body {
  background-image: url("../images/abstract3.jpg");
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  background-size: 100% 100%; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(2,0,36);
/* background:  linear-gradient(90deg, rgb(32, 25, 155) 0%, rgb(27, 27, 138) 42%, rgba(4,112,189,1) 76%, rgba(0,212,255,1) 100%); */
}

/* elements on page*/
form {
  display: flex;
  flex-direction: column;
  border: white rounded 2px;
  border-radius: 20px;
  padding:20px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  background-color: white;
  opacity: 0.8;
  width: 70%;
  height: auto;
  margin-bottom: 30px;
}
/*elements in body*/
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:  lighter;
}

/* journal Entries Input*/
#journalEntryInput {
  display: flex;
  justify-content: center;
}

.entryLog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: white rounded 2px;
  border-radius: 20px;
  padding:20px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  background-color: white;
  opacity: 0.8;
  width: 70%;
  height: auto;
  margin-left: 200px;
}
